<html>
    <h1> TERM DEPOSIT FORM</h1>
    <body>
        <form action="/predict" method="POST">
            <label> Age </label> <input type="text" name="age"> <br><br>
            <label> Education </label> <input type="text" name="education"> <br><br>
            <label> Default </label> <input type="text" name="default"> <br><br>
            <label> Balance </label> <input type="text" name="balance"> <br><br>
            <label> Housing </label> <input type="text" name="housing"> <br><br>
            <label> Loan </label> <input type="text" name="loan"> <br><br>
            <label> Day </label> <input type="text" name="day"> <br><br>
            <label> Month </label> <input type="text" name="month"> <br><br>
            <label> Duration </label> <input type="text" name="duration"> <br><br>
            <label> Campaign </label> <input type="text" name="campaign"> <br><br>
            <label> Pdays </label> <input type="text" name="pdays"> <br><br>
            <label> Previous </label> <input type="text" name="previous"> <br><br>
            <label> Job </label> <input type="text" name="job"> <br><br>
            <label> Marital </label> <input type="text" name="marital"> <br><br>
            <label> Poutcome </label> <input type="text" name="poutcome"> <br><br>

            <label> SUBMIT </label> <input type="submit">

        </form>

        {{Result}}

    </body>
    
</html>